{% extends "nav/base.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template/users.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.min.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin/translog.js') }}"></script>
    <script>
        _translog();
    </script>
{% endblock %}


{% block page_content %}
  <main id="dashboard_index">
    <div class="inmain_nav">
      <div class="title">
        <h1>Transaction Log</h1>
      </div>
    </div>
    <div class="_container">
      <div class="_row">
        <div class="col_10">
          <div class="card chart_card table_card _table_pagination">
            <h5 class="title">
              <i class="fa fa-user"></i>Transaction Log
              <div class="_filter">
                <select id="showBy" onchange="showBy()" name="show" placeholder="Role">
                  <option value="all" >All</option>
                  <option value="upgraded">Upgraded</option>
                  <option value="suspended">Suspended</option>
                </select>
                <form>
                  <input type="text" placeholder="Search user">
                  <button type="submit">Search</button>
                </form>
              </div>
            </h5>
            <!-- <div class="table" id="data_body"></div> -->
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Ref ID</th>
                    <th>Name</th>
                    <th>UID</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Time</th>
                  </tr>
                </thead>
              <tbody id="data_body"></tbody>
            </table>
            <div class="_pagination _bottom_pagination">
              <div class="page"><p><span class="small_data"></span>-<span class="big_data"></span> of <span class="total_data"></span><p></div>
              <a class="disabled left_arrow" onclick="_prev_page()"><i class="fa fa-angle-left"></i></a>
              <a class="right_arrow" onclick="_next_page()"><i class="fa fa-angle-right icon"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="translogdetailmodal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Detail Transaction
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="_translog()">
                <span aria-hidden="true">&times;</span>
              </button>
            </h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col_10" style="padding-top: 0;">
                <div class="card chart_card table_card">
                  <div class="header">
                    <div class="detail">
                      <h5 style="font-weight:bold">Detail User</h5>
                      <table>
                        <tr>
                          <th>User ID</th>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Amount</th>
                          <th>Date</th>
                          <th>UID</th>
                        </tr>
                        <tr>
                          <td id="user_id"></td>
                          <td id="name"></td>
                          <td id="type_name"></td>
                          <td id="amount"></td>
                          <td id="date"></td>
                          <td id="uid"></td>
                        </tr>
                      </table>
                      <h5 style="font-weight:bold">Detail Product</h5>
                      <table>
                        <tr>
                          <th>Product Category</th>
                          <th>Product Detail</th>
                          <th>Product Type</th>
                          <th>Provider</th>
                        </tr>
                        <tr>
                          <td id="product_category_name"></td>
                          <td id="product_detail_name"></td>
                          <td id="product_type_name"></td>
                          <td id="provider"></td>
                        </tr>
                      </table>
                      <h5 style="font-weight:bold">Detail REF</h5>
                      <table>
                        <tr>
                          <th>REF ID</th>
                          <th>REF CA</th>
                          <th>REF SB</th>
                          <th>Serial No.</th>
                        </tr>
                        <tr>
                          <td id="ref_id"></td>
                          <td id="refca"></td>
                          <td id="refsb"></td>
                          <td id="serialno"></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col_10">
                      <h5 class="title">
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
