{% extends "nav/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templates.min.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
      _loading(0);
    </script>
{% endblock %}


{% block page_content %}
  <main id="dashboard_index">
    <div class="inmain_nav">
      <div class="title">
        <h1>Merchants</h1>
      </div>
    </div>
    <div class="_container">
      <div class="_row">
        <div class="col_10">
          <div class="card dashboard_card">
            <div class="col_2">
              <h5 class="title"><i class="fa fa-user"></i>Total Merchant</h5>
              <h2 class="value">1,000,000</h2>
              <span class="_growth positive"><span>12</span>% increase</span>
            </div>
            <div class="col_2">
              <h5 class="title"><i class="fa fa-user"></i>Total Active Merchant</h5>
              <h2 class="value">100,000</h2>
              <span class="_growth positive"><span>12</span>% increase</span>
            </div>
            <div class="col_2">
              <h5 class="title"><i class="fa fa-user"></i>Total's wallet</h5>
              <h2 class="value">Rp 200,000,000,000</h2>
              <span class="_growth negative"><span>12</span>% decrease</span>
            </div>
            <div class="col_2">
              <h5 class="title"><i class="fa fa-user"></i>Total's transaction</h5>
              <h2 class="value last">Rp 500,000,000,000</h2>
              <span class="_growth negative"><span>12</span>% decrease</span>
            </div>
          </div>
        </div>
      </div>

      <div class="_row">
        <div class="col_10">
          <div class="card chart_card table_card _table_pagination">
            <h5 class="title">
              <i class="fa fa-shopping-bag"></i>Merchants
              <div class="_filter">
                <form>
                  <input type="text" placeholder="Search merchant">
                  <button type="submit">Search</button>
                </form>
                <div class="_pagination">
                  <div class="page"><p><span>1</span>-<span>25</span> of <span>1,000</span><p></div>
                  <a class="disabled"><i class="fa fa-angle-left icon"></i></a>
                  <a><i class="fa fa-angle-right icon"></i></a>
                </div>
              </div>
            </h5>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Doe</td>
                  <td>08155176008</td>
                  <td>None</td>
                  <td>Rp 1,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Doe</td>
                  <td>08155176008</td>
                  <td>yehuda@ion-network</td>
                  <td>Rp 2,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Doe</td>
                  <td>08155176008</td>
                  <td>None</td>
                  <td>Rp 2,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Moe</td>
                  <td>08155176008</td>
                  <td>None</td>
                  <td>Rp 2,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Dooley</td>
                  <td>08155176008</td>
                  <td>None</td>
                  <td>Rp 1,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Doe</td>
                  <td>08155176008</td>
                  <td>None</td>
                  <td>Rp 1,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Doe</td>
                  <td>08155176008</td>
                  <td>yehuda@ion-network</td>
                  <td>Rp 2,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Doe</td>
                  <td>08155176008</td>
                  <td>None</td>
                  <td>Rp 2,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Moe</td>
                  <td>08155176008</td>
                  <td>None</td>
                  <td>Rp 2,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                <tr>
                  <td class="id">1</td>
                  <td><div class="profilePicture"></div></td>
                  <td>Dooley</td>
                  <td>08155176008</td>
                  <td>None</td>
                  <td>Rp 1,000,000</td>
                  <td><a class="more fa fa-ellipsis-v"></a></td>
                </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Doe</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 1,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Doe</td>
                    <td>08155176008</td>
                    <td>yehuda@ion-network</td>
                    <td>Rp 2,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Doe</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 2,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Moe</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 2,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Dooley</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 1,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Doe</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 1,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Doe</td>
                    <td>08155176008</td>
                    <td>yehuda@ion-network</td>
                    <td>Rp 2,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Doe</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 2,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Moe</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 2,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Dooley</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 1,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Doe</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 1,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Doe</td>
                    <td>08155176008</td>
                    <td>yehuda@ion-network</td>
                    <td>Rp 2,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Doe</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 2,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Moe</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 2,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
                  <tr>
                    <td class="id">1</td>
                    <td><div class="profilePicture"></div></td>
                    <td>Dooley</td>
                    <td>08155176008</td>
                    <td>None</td>
                    <td>Rp 1,000,000</td>
                    <td><a class="more fa fa-ellipsis-v"></a></td>
                  </tr>
              </tbody>
            </table>

            <div class="_pagination _bottom_pagination">
              <div class="page"><p><span>1</span>-<span>25</span> of <span>1,000</span><p></div>
              <a class="disabled"><i class="fa fa-angle-left"></i></a>
              <a><i class="fa fa-angle-right icon"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
{% endblock %}
