{% extends "nav/base.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template/users.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.min.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin/bujt.js') }}"></script>
    <script>
        _users();
    </script>
{% endblock %}


{% block page_content %}
  <main id="dashboard_index">
    <div class="inmain_nav">
      <div class="title">
        <h1>Toll Client</h1>
      </div>
    </div>
    <div class="_container">
      <div class="_row">
        <div class="col_10">
          <div class="card dashboard_card">
            <div class="col_2">
              <h5 class="title"><i class="fa fa-user"></i>Total Client</h5>
              <h2 class="value" id="total_users">-</h2>
              <span class="_growth positive"><span>12</span>% increase</span>
            </div>
            <div class="col_2">
              <h5 class="title"><i class="fa fa-user"></i>Total Active Client</h5>
              <h2 class="value" id="total_active_users">-</h2>
              <span class="_growth positive"><span>12</span>% increase</span>
            </div>
            <div class="col_2">
              <h5 class="title"><i class="fa fa-user"></i>Total's wallet</h5>
              <h2 class="value" id="total_wallet">-</h2>
              <span class="_growth negative"><span>12</span>% decrease</span>
            </div>
            <div class="col_2">
              <h5 class="title"><i class="fa fa-user"></i>Total's transaction</h5>
              <h2 class="value last" id="total_trx">Rp 500,000,000,000</h2>
              <span class="_growth negative"><span>12</span>% decrease</span>
            </div>
          </div>
        </div>
      </div>

      <div class="_row">
        <div class="col_10">
          <div class="card chart_card table_card _table_pagination">
            <h5 class="title">
              <i class="fa fa-user"></i>Toll Client
              <div class="_filter">
                <select id="showBy" onchange="showBy()" name="show" placeholder="Role">
                  <option value="all" >All</option>
                  <option value="upgraded">Upgraded</option>
                  <option value="suspended">Suspended</option>
                </select>
                <form>
                  <input type="text" placeholder="Search user">
                  <button type="submit">Search</button>
                </form>
              </div>
            </h5>
            <div class="table" id="data_body"></div>
            <div class="_pagination _bottom_pagination">
              <div class="page"><p><span class="small_data"></span>-<span class="big_data"></span> of <span class="total_data"></span><p></div>
              <a class="disabled left_arrow" onclick="_prev_page()"><i class="fa fa-angle-left"></i></a>
              <a class="right_arrow" onclick="_next_page()"><i class="fa fa-angle-right icon"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Client Detail
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col_10" style="padding-top: 0;">
              <div class="card chart_card table_card">
                <div class="header">
                  <div class="profilePicture"></div>
                  <div class="detail">
                    <h3 id="detail_name"></h3>
                    <p id="detail_phone"></p>
                    <p id="detail_email">-</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_row">
            <div class="card dashboard_card">
              <div class="col_2">
                <h5 class="title"><i class="fa fa-wallet"></i>Total Wallet</h5>
                <h2 class="value" id="user_total_wallet">-</h2>
              </div>
              <div class="col_2">
                <h5 class="title"><i class="fa fa-tag"></i>Total Point</h5>
                <h2 class="value" id="user_total_point">0</h2>
              </div>
              <div class="col_2">
                <h5 class="title"><i class="fas fa-microchip"></i>Total OBU</h5>
                <h2 class="value" id="user_total_obu">-</h2>
              </div>
              <div class="col_2">
                <h5 class="title"><i class="fas fa-handshake"></i>Total Transactions</h5>
                <h2 class="value last" id="user_total_trx">0</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col_10" style="padding-top: 0;">
              <div class="card chart_card table_card">
                <h5 class="title">
                  History Transaction
                  <a class="button" onclick="trx_all_modal()">View all</a>
                </h5>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>OBU ID</th>
                        <th>Plaza In</th>
                        <th>Plaza Out</th>
                        <th>Price</th>
                        <th>Time In</th>
                      </tr>
                    </thead>
                  <tbody id="data_trx"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="trxallmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            History Transaction
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col_10" style="padding-top: 0;">
              <div class="card chart_card table_card">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                  <tbody id="data_trx_all"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="translogdetailmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Detail Transaction
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col_10" style="padding-top: 0;">
              <div class="card chart_card table_card">
                <div class="header">
                  <div class="detail">
                    <h5 style="font-weight:bold">Detail OBU</h5>
                    <table>
                      <tr>
                        <th>OBU UID</th>
                        <th>User Name</th>
                        <th>User ID</th>
                        <th>Plate ID</th>
                        <th>Vehicle Class</th>
                      </tr>
                      <tr>
                        <td id="obu_uid"></td>
                        <td id="user_name"></td>
                        <td id="user_id"></td>
                        <td id="plate_id"></td>
                        <td id="vehicle_class_name"></td>
                      </tr>
                    </table>
                    <h5 style="font-weight:bold">Detail Toll Client</h5>
                    <table>
                      <tr>
                        <th>Plaza In</th>
                        <th>Lane In</th>
                        <th>Time In</th>
                        <th>Plaza Out</th>
                        <th>Lane Out</th>
                        <th>Time Out</th>
                      </tr>
                      <tr>
                        <td id="plaza_in_name"></td>
                        <td id="lane_in_name"></td>
                        <td id="time_in"></td>
                        <td id="plaza_out_name"></td>
                        <td id="lane_out_name"></td>
                        <td id="time_out"></td>
                      </tr>
                    </table>
                    <h5 style="font-weight:bold">Detail REF</h5>
                    <table>
                      <tr>
                        <th>REF CA IN</th>
                        <th>REF CA OUT</th>
                        <th>Price</th>
                      </tr>
                      <tr>
                        <td id="refca_in"></td>
                        <td id="refca_out"></td>
                        <td id="price"></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col_10">
                    <h5 class="title">
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
