{% extends "nav/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template/users.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.min.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin/bujt.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template/auth.js') }}"></script>
    <script>
        bujtPassword();
    </script>
{% endblock %}

{% block page_content %}
<main id="dashboard_index">
  <div class="inmain_nav">
    <div class="title">
      <h1>Add Toll Client</h1>
    </div>
  </div>
  <div class="modal fade" id="bujtForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Add Client
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col_10" style="padding-top: 0;">
              <div class="card chart_card table_card _table_pagination">
                  <div class="_register">
                    <!-- <form> -->
                      <input id="name" name="name" type="text" placeholder="Client Name..">
                      <input id="phone" name="phone" type="phone" placeholder="Phone Number..">
                      <input id="email" name="email" type="email" placeholder="Client E-mail..">
                      <select id="trxtype" name="trxtype">
                        <option value="" disabled selected>Select Transaction Type..</option>
                      </select>
                      <input id="pin" name="pin" type="number" placeholder="PIN..">
                      <button class="button_submit" data-dismiss="modal" onclick="add_client()">Submit</button>
                    <!-- </form> -->
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="bujtPassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Verify Password
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col_10" style="padding-top: 0;">
              <div class="card chart_card table_card _table_pagination">
                  <div class="_register">
                    <!-- <form> -->
                    <div class="pass">
                        <input id="password" name="password" type="password" placeholder="Input Your Password..">
                        <input type="checkbox" id="view_pass">
                        <label for="view_pass" class="glyphicon glyphicon-eye-close"></label>
                    </div>
                      <button type="submit" class="button_submit" data-dismiss="modal" onclick="redirect_to_form()">Verify</button>
                    <!-- </form> -->
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
